# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('../Weatherpy/output_data/cities.csv')

weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudlness,Wind Speed,Country,Date
0,Ushuaia,-54.8000,-68.3000,3.00,75,40,10.29,AR,1619680342
1,Cape Town,-33.9258,18.4232,14.44,88,75,6.17,ZA,1619680159
2,Jamestown,42.0970,-79.2353,16.00,88,90,2.06,US,1619680112
3,Cabo San Lucas,22.8909,-109.9124,20.00,76,0,0.89,MX,1619680196
4,Coahuayana Viejo,18.7333,-103.6833,22.81,88,99,0.15,MX,1619680343
...,...,...,...,...,...,...,...,...,...
570,Tura,25.5198,90.2201,38.36,15,9,3.64,IN,1619680596
571,Volkhov,59.9258,32.3382,5.39,49,100,2.80,RU,1619680596
572,Kokstad,-30.5472,29.4241,20.66,35,7,2.22,ZA,1619680596
573,Magdalena,14.1999,121.4290,33.33,55,20,5.66,PH,1619680597
574,Deputatsky,69.3000,139.9000,-3.98,79,12,1.11,RU,1619680597

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Use the Lat and Lng as locations and Humidity as the weight

locations = weather_df[['Lat' , 'Lng']].astype(float)

humidity = weather_df['Humidity'].astype(float)

In [4]:
# Create a heatmap layer

fig = gmaps.figure(center =(46.0, -5), zoom_level=3)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating = False, max_intensity = 100,
                                point_radius = 3)


fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrow_cities_df = weather_df.loc[(weather_df['Max Temp'] > 30) & (weather_df['Max Temp']< 40) & 
                                  (weather_df['Wind Speed'] < 10) & (weather_df['Cloudlness'] == 0)].dropna()


narrow_cities_df.head(5)

,City,Lat,Lng,Max Temp,Humidity,Cloudlness,Wind Speed,Country,Date
109,Aswān,24.0934,32.9070,34.57,6,0,4.42,EG,1619680393
206,Abu Dhabi,24.4667,54.3667,36.00,31,0,2.57,AE,1619679743
235,Port Hedland,-20.3167,118.5667,32.00,35,0,7.20,AU,1619680452
539,Buraidah,26.3260,43.9750,31.00,33,0,2.57,SA,1619680583
563,Karratha,-20.7377,116.8463,33.09,25,0,5.51,AU,1619680592

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create dataframe for hotel_df

hotel_df = pd.DataFrame(weather_df, columns =['City', 'Country', 'Lat', 'Lng'])
hotel_df['Hotel Name'] = ''

hotel_df.head(5)

               City Country      Lat       Lng Hotel Name
0           Ushuaia      AR -54.8000  -68.3000
1         Cape Town      ZA -33.9258   18.4232
2         Jamestown      US  42.0970  -79.2353
3    Cabo San Lucas      MX  22.8909 -109.9124
4  Coahuayana Viejo      MX  18.7333 -103.6833

In [7]:
# Set parameters to search for hotels with 5000 meters

params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}


# Loop through the hotel_df and run a lat/long search for each city
for index, row in hotel_df.iterrows():
   
    lat = row['Lat']
    lng = row['Lng']
    

    # update address key value
    params['location'] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
        
    # make request
    
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    
    try: 
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        
    except (IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [15]:
# Visualize to confirm airport data appears

hotel_df.head()

,City,Country,Lat,Lng,Hotel Name
0,Ushuaia,AR,-54.8000,-68.3000,Los Cauquenes Resort & Spa
1,Cape Town,ZA,-33.9258,18.4232,Atlanticview Cape Town Boutique Hotel
2,Jamestown,US,42.0970,-79.2353,Chautauqua Harbor Hotel
3,Cabo San Lucas,MX,22.8909,-109.9124,Nobu Hotel Los Cabos
4,Coahuayana Viejo,MX,18.7333,-103.6833,Hotel Brisas De Verano

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# Add marker layer ontop of heat map
# Create a map using state centroid coordinates to set markers

marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)

fig = gmaps.figure(center =(46.0, 0), zoom_level=3)

heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating = False, max_intensity = 100,
                                point_radius = 3)


fig.add_layer(heat_layer)

# Create a marker_layer using the poverty list to fill the info box

fig.add_layer(marker_layer)




# Display figure
fig

Figure(layout=FigureLayout(height='420px'))